<!-- A really basic homepage. You may want to look at Bootstrap CSS examples to customize your own app! -->

<!-- your CSS goes between <style> </style> -->


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pet2Vet</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
 


  </head>
  <body>

<div class="main">
  <div style="text-align:center">
    <br><br>
  
    <div class="starter-template">


    </div>
  <br><br>

<div class="overlay">

</div>


<title>Pet2Vet</title>
</head>
<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>
      <div class="starter-template">
        <!--<h1>Pet2Vet</h1>-->
		<img src="static/img/logo2.png" style="width: 50%">
      </div>
      <br><br><br>
      <div class='buttons'>

    <!-- This is what takes you to my next page recommender.html -->
      <form action='/recommender', method='POST'>

        <button type="submit">Find Your Vet</button>
      </form>



    </div>
    </div>
  </body>
